.classpath
.gradle
**/.idea/**
!**/.idea/codeStyleSettings.xml
!**/.idea/copyright
!**/.idea/codeStyles
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
!.idea/copyright/AndroidCopyright.xml
!.idea/copyright/profiles_settings.xml
!.idea/inspectionProfiles/Project_Default.xml
!.idea/icon.svg
.project
.settings/
project.properties
local.properties
**/bin
**/gen
*.iml
**/out
build
!**/src/**/build
.DS_Store